In [1]:
#The first thing you need to do is create a folder where you're going to store the information you want to use. 
#This will help you to create a direct environment where you can read directly and analyze easier all data. 
#In this case, the name of said folder is "MassSpec_Data"

#Check where are you currently located
import os
print(os.getcwd())
#If you're located in the correct folder, stay there.

/u/herrerak

In [2]:
#If you're located in a different folder, use the following to locate yourself in the folder needed
os.chdir("your/dir/") #Replace "your/dir/" with your desired directory
print(os.getcwd())

/u/herrerak/MassSpec_Data

In [3]:
#Ok, after you've located yourself in the same folder, we can start analyzing the data. 
#You need to have your excel files in the same folder. 
#To read the excel file: 
import pandas as pd
#The excel file has different sheets, but right now we will only use the one with quantification data.
df = pd.read_excel("Name_of_your_file.xlsx", sheet_name="Quantification") #Sheet name can change if you're not using the same software (MAPDP)

In [5]:
#You don't know the name of the excel sheet with your quantification data? Let's explore the sheets available: 
xls = pd.ExcelFile("Name_of_your_file.xlsx")
print(xls.sheet_names)

['Descriptions', 'PSMs', 'Peptides', 'Proteins', 'Quantification', 'Parameters']

In [6]:
#Let's explore a little bit of the data frame uploaded. You can skip this step.
df.head()

,Gene symbol first,Description,Gene symbols,Uniprot sp identifier first,Uniprot sp identifiers,Protein accessions / positions,Peptide sequence,Modification,Peptide-Modification (PEAKS),Quality,...,Area Sample 9,Area Sample 10,Area Sample 11,Area Sample 12,Area Group 1,Area Group 2,Area Group 3,Area Group 4,Avg. Area,RT Mean
0,NUP50,Potassium channel tetramerization domain conta...,NUP50,Q9UKX7,NUP50: Q9UKX7,"22_2183[77,86]; 22_2175[105,114]; 22_2176[77,8...",AAADPKVAF,NaN,AAADPKVAF,74.15,...,30347.576,71653.970,58323.9260,43341.630,0.0,0.000,44734.492,57773.1760,25626.9160,25.96
1,EIF4G1,Aly/ref export factor,EIF4G1,Q04637,EIF4G1: Q04637,"3_5677[917,926]; 3_5670[1112,1121]; 3_5671[111...",AARPATSTL,NaN,AARPATSTL,42.08,...,25720.205,34671.195,25279.9500,38397.710,0.0,0.000,24301.547,32782.9530,12245.9960,14.84
2,H1-2,Gtp-binding nuclear protein ran (fragment),H1-2; H1-3; H1-4,P16403,H1-2: P16403; H1-3: P16402; H1-4: P10412,"6_602[49,60]; 6_615[50,61]; 6_575[49,60]",AASKERSGVSL,NaN,AASKERSGVSL,65.19,...,32695.422,0.000,32865.1300,27244.602,0.0,15066.627,31372.201,30054.8650,14107.7470,14.17
3,BZW1,"Keratin, type i cytoskeletal 10",BZW1,Q7L1Q6,BZW1: Q7L1Q6,"2_5280[207,216]; 2_5278[203,212]; 2_5281[235,2...",AASLRKVSM,NaN,AASLRKVSM,61.31,...,0.000,0.000,3847.5874,0.000,0.0,0.000,0.000,3847.5874,320.6323,16.46
4,VPS16,E3 ubiquitin-protein ligase ubr2,VPS16,Q9H269,VPS16: Q9H269,"20_202[59,67]; 20_203[59,67]",AASVRPVL,NaN,AASVRPVL,60.75,...,17437.107,39681.490,51562.6450,14130.255,0.0,0.000,20246.684,35124.7970,13842.8700,25.19

In [23]:
#We create the groups of each treatment
Treatment_1 = ['Area Sample 10', 'Area Sample 11', 'Area Sample 12']
Treatment_2 = ['Area Sample 9', 'Area Sample 8', 'Area Sample 7']
Treatment_3 = ['Area Sample 6', 'Area Sample 5', 'Area Sample 4']
Treatment_4 = ['Area Sample 3', 'Area Sample 2', 'Area Sample 1']

In [24]:
#We now create a new dataframe for each treatment we are comparing here, or the dataframe itself if you're not comparing different treatments. 
#This is an example
df_Treatment_1 = df[['Peptide sequence']+ Treatment_1].copy()
df_Treatment_1.head()

  Peptide sequence  Area Sample 10  Area Sample 11  Area Sample 12
0        AAADPKVAF       71653.970      58323.9260       43341.630
1        AARPATSTL       34671.195      25279.9500       38397.710
2      AASKERSGVSL           0.000      32865.1300       27244.602
3        AASLRKVSM           0.000       3847.5874           0.000
4         AASVRPVL       39681.490      51562.6450       14130.255

In [25]:
#We continue with the rest
df_Treatment_2 = df[['Peptide sequence']+ Treatment_2].copy()
df_Treatment_3 = df[['Peptide sequence']+ Treatment_3].copy()
df_Treatment_4 = df[['Peptide sequence']+ Treatment_4].copy()

In [27]:
#We need to know, for each peptide, in how many of the replicates it appears. 
#This helps us to filter between peptides with actual signals (if it appears in at least 2/3 replicates), 
#and peptides that might appear by error.
df_Treatment_1["Count_if"] = (df_Treatment_1[Treatment_1] > 0).sum(axis=1)
df_Treatment_2["Count_if"] = (df_Treatment_2[Treatment_2] > 0).sum(axis=1)
df_Treatment_3["Count_if"] = (df_Treatment_3[Treatment_3] > 0).sum(axis=1)
df_Treatment_4["Count_if"] = (df_Treatment_4[Treatment_4] > 0).sum(axis=1)

#df_Treatment_1.head()

  Peptide sequence  Area Sample 10  Area Sample 11  Area Sample 12  Count_if
0        AAADPKVAF       71653.970      58323.9260       43341.630         3
1        AARPATSTL       34671.195      25279.9500       38397.710         3
2      AASKERSGVSL           0.000      32865.1300       27244.602         2
3        AASLRKVSM           0.000       3847.5874           0.000         1
4         AASVRPVL       39681.490      51562.6450       14130.255         3

In [28]:
#Then, we need to keep only the peptides that appear at least 2 times in the dataset. 
#For that, we use the following:
filt_df_Treatment_1 = df_Treatment_1[df_Treatment_1["Count_if"] >= 2].copy()
filt_df_Treatment_2 = df_Treatment_2[df_Treatment_2["Count_if"] >= 2].copy()
filt_df_Treatment_3 = df_Treatment_3[df_Treatment_3["Count_if"] >= 2].copy()
filt_df_Treatment_4 = df_Treatment_4[df_Treatment_4["Count_if"] >= 2].copy()

In [29]:
#You can check if the filtering was ok using this line:
filt_df_Treatment_1.head()

  Peptide sequence  Area Sample 10  Area Sample 11  Area Sample 12  Count_if
0        AAADPKVAF       71653.970       58323.926       43341.630         3
1        AARPATSTL       34671.195       25279.950       38397.710         3
2      AASKERSGVSL           0.000       32865.130       27244.602         2
4         AASVRPVL       39681.490       51562.645       14130.255         3
5        AATPAVRTV      113445.280       91028.160       90304.750         3

In [32]:
#Then, we need to replace the 0's that appear in our dataset with the lower value in each of our treatments. This will help us have a more exact CV%
#and to better understand the replicability of our data. Not doing it risks higher CV%s and worst understanding of the results. 
#For this step, we first need to define the lower signal value per treatment.
min_signal_Treatment_1 = filt_df_Treatment_1[Treatment_1][filt_df_Treatment_1[Treatment_1] > 0].min().min()
#print(min_signal_Treatment_1)
min_signal_Treatment_2 = filt_df_Treatment_2[Treatment_2][filt_df_Treatment_2[Treatment_2] > 0].min().min()
min_signal_Treatment_3 = filt_df_Treatment_3[Treatment_3][filt_df_Treatment_3[Treatment_3] > 0].min().min()
min_signal_Treatment_4 = filt_df_Treatment_4[Treatment_4][filt_df_Treatment_4[Treatment_4] > 0].min().min()

In [35]:
#Then, we will do the replacement of the 0's.
filt_df_Treatment_1[Treatment_1] = filt_df_Treatment_1[Treatment_1].replace(0, min_signal_Treatment_1)
#filt_df_Treatment_1.head()
filt_df_Treatment_2[Treatment_2] = filt_df_Treatment_2[Treatment_2].replace(0, min_signal_Treatment_2)
filt_df_Treatment_3[Treatment_3] = filt_df_Treatment_3[Treatment_3].replace(0, min_signal_Treatment_3)
filt_df_Treatment_4[Treatment_4] = filt_df_Treatment_4[Treatment_4].replace(0, min_signal_Treatment_4)

#Missing or zero intensity values are imputed using the lowest detected intensity within each treatment.

In [36]:
#Here, we do the desired calculations. Mean of intensity, Standard deviation, and CV%.
#This is per peptide found in each dataframe. 
filt_df_Treatment_1["Mean"] = filt_df_Treatment_1[Treatment_1].mean(axis=1)
filt_df_Treatment_1["SD"] = filt_df_Treatment_1[Treatment_1].std(axis=1)
filt_df_Treatment_1["CV"] = (filt_df_Treatment_1["SD"] / filt_df_Treatment_1["Mean"]) * 100
filt_df_Treatment_1[["Peptide sequence", "Mean", "SD", "CV"]].head()

  Peptide sequence          Mean            SD         CV
0        AAADPKVAF  57773.175333  14164.202900  24.516920
1        AARPATSTL  32782.951667   6759.660052  20.619437
2      AASKERSGVSL  21538.726100  15015.708446  69.714933
4         AASVRPVL  35124.796667  19127.690553  54.456374
5        AATPAVRTV  98259.396667  13156.333835  13.389390

In [37]:
#For treatment 2
filt_df_Treatment_2["Mean"] = filt_df_Treatment_2[Treatment_2].mean(axis=1)
filt_df_Treatment_2["SD"] = filt_df_Treatment_2[Treatment_2].std(axis=1)
filt_df_Treatment_2["CV"] = (filt_df_Treatment_2["SD"] / filt_df_Treatment_2["Mean"]) * 100
filt_df_Treatment_2[["Peptide sequence", "Mean", "SD", "CV"]].head()

#For treatment 3
filt_df_Treatment_3["Mean"] = filt_df_Treatment_3[Treatment_3].mean(axis=1)
filt_df_Treatment_3["SD"] = filt_df_Treatment_3[Treatment_3].std(axis=1)
filt_df_Treatment_3["CV"] = (filt_df_Treatment_3["SD"] / filt_df_Treatment_3["Mean"]) * 100
filt_df_Treatment_3[["Peptide sequence", "Mean", "SD", "CV"]].head()

#For treatment 4
filt_df_Treatment_4["Mean"] = filt_df_Treatment_4[Treatment_4].mean(axis=1)
filt_df_Treatment_4["SD"] = filt_df_Treatment_4[Treatment_4].std(axis=1)
filt_df_Treatment_4["CV"] = (filt_df_Treatment_4["SD"] / filt_df_Treatment_4["Mean"]) * 100
filt_df_Treatment_4[["Peptide sequence", "Mean", "SD", "CV"]].head()

  Peptide sequence          Mean            SD         CV
0        AAADPKVAF  44734.492000  14200.375622  31.743684
1        AARPATSTL  16997.653500  12730.010656  74.892753
2      AASKERSGVSL  31372.201000   4420.472057  14.090411
4         AASVRPVL  20246.683333   7133.585095  35.233351
5        AATPAVRTV  62508.708333  16253.722759  26.002333

In [41]:
#Finally, we create the summary table with our final results. This gives us per treatment:
#Ammount of MAPs identified. 
#Average CV%
#Median CV%

summary_table = pd.DataFrame({
    "Treatment": [
        "Treatment 1",
        "Treatment 2",
        "Treatment 3",
        "Treatment 4"
    ],
    "MAPs #": [
        len(filt_df_Treatment_1),
        len(filt_df_Treatment_2),
        len(filt_df_Treatment_3),
        len(filt_df_Treatment_4)
    ],
    "Average CV%": [
        filt_df_Treatment_1["CV"].mean(),
        filt_df_Treatment_2["CV"].mean(),
        filt_df_Treatment_3["CV"].mean(),
        filt_df_Treatment_4["CV"].mean()
    ],
    "Median CV%": [
        filt_df_Treatment_1["CV"].median(),
        filt_df_Treatment_2["CV"].median(),
        filt_df_Treatment_3["CV"].median(),
        filt_df_Treatment_4["CV"].median()
    ]
})

In [43]:
#If you want to round decimals to have only 2. 
summary_table["Average CV%"] = summary_table["Average CV%"].round(2)
summary_table["Median CV%"] = summary_table["Median CV%"].round(2)

In [44]:
summary_table

           Treatment  MAPs #  Average CV%  Median CV%
0  2.5 Million cells     170        42.96       33.52
1  1.3 Million cells     213        35.00       26.77
2  0.6 Million cells      64        84.79       72.98
3  0.1 Million cells      70        61.67       65.78

In [ ]:
#To download the filtered data
filt_df_Treatment_1.to_csv("filt_df_Treatment_1.csv", index=False)
filt_df_Treatment_2.to_csv("filt_df_Treatment_2.csv", index=False)
filt_df_Treatment_3.to_csv("filt_df_Treatment_3.csv", index=False)
filt_df_Treatment_4.to_csv("filt_df_Treatment_4.csv", index=False)